<h1>Editing purchase order detail</h1>

<%= render "form", purchase_order_detail: @purchase_order_detail %>

<br>

<div>
  <%= link_to "Show this purchase order detail", @purchase_order_detail %> |
  <%= link_to "Back to purchase order details", purchase_order_details_path %>
</div>
