<h1>New purchase order detail</h1>

<%= render "form", purchase_order_detail: @purchase_order_detail %>

<br>

<div>
  <%= link_to "Back to purchase order details", purchase_order_details_path %>
</div>
